---
---
<div transition:animate="slide" class="nav-links">
  <a href="/" data-astro-reload>首页</a>
  <a href="/blog/" data-astro-reload>博客</a>
  <a href="/tags/" data-astro-reload>标签</a>
  <a href="/about/" data-astro-reload>关于</a>
</div>
